.navList li:nth-child(1){
	border: 3px solid black;
}
.secBox{
	position: relative;
	width: 100%;
	height: 450px;
	background-color: #1d1d1d;
}
/*设置文字样式*/
.wenzi{
	width: 35%;
	height: 100%;
	text-align: center;
	line-height: 70px;
	float: left;
	font-family:"楷体";
	color: orange;
}
.wenzi h1{
	line-height: 100px;
	font-size: 35px;
	font-weight: bold;
}
.wenzi p{
	font-size: 23px;
}
/*照片的位置和样式*/
.photos{
	position: absolute;
	width: 40%;
	height: 100%;
	left: 45%;

	float: left;
	top: 10PX;
}

.photoList li{
	list-style: none;	
}
.photoList li{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
}
.photoList li img{
	width: 100%;
	height: 100%;
}
/*照片特效*/
.photoList li:nth-child(1){
	animation: photoMove1 20s linear infinite;
}
@keyframes photoMove1{
	0%{opacity: 0;}
	10%{opacity: 1;}
	20%{opacity: 1;}
	30%{opacity: 0;}
}
.photoList li:nth-child(2){
	animation: photoMove2 20s linear infinite;
}
@keyframes photoMove2{
	20%{opacity: 0;}
	30%{opacity: 1;}
	40%{opacity: 1;}
	50%{opacity: 0;}
}
.photoList li:nth-child(3){
	animation: photoMove3 20s linear infinite;
}
@keyframes photoMove3{
	40%{opacity: 0;}
	50%{opacity: 1;}
	60%{opacity: 1;}
	70%{opacity: 0;}
}
.photoList li:nth-child(4){
	animation: photoMove4 20s linear infinite;
}
@keyframes photoMove4{
	60%{opacity: 0;}
	70%{opacity: 1;}
	80%{opacity: 1;}
	90%{opacity: 0;}
}
.photoList li:nth-child(5){
	animation: photoMove5 20s linear infinite;
}
@keyframes photoMove5{
	80%{opacity: 0;}
	90%{opacity: 1;}
	100%{opacity: 1;}
	10%{opacity: 0;}
}


/*遮罩*/
.menban{
	position: absolute;
	float: left;
	width: 45%;
	height: 100%;
	left: 44%;
	/*top: -5%;*/
	z-index: 1;
}/*遮罩大小*/
.menban img{
	width: 100%;
	height: 100%;
}
/*斜三角属性*/
.snajiao1{
	width: 100%;
	height: 100px;
	/*background-image: url(../img/tm-border-black-top.png);
	background-size: 100% 100%;*/
	position: relative;
}

.snajiao1 img{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
/*轮播图*/
.imgDiv{
	
	width: 100%;
	height: 1000px;
	overflow:hidden;
	position: relative;
	top: -100px;

}
.imgList li{
	width: 100%;
	height: 1000px;
}
.imgList{
	width: 100%;
	height: 4000px;
	list-style: none;
	animation: indexLunbo 15s linear infinite alternate ;
}
@keyframes indexLunbo{
	0%{
		transform: translateY(0px);
	}
	15%{
		transform: translateY(0px);
	}
	30%{
		transform: translateY(-1000px);
	}
	45%{
		transform: translateY(-1000px);
	}
	60%{
		transform: translateY(-2000px);
	}
	75%{
		transform: translateY(-2000px);
	}
	90%{
		transform: translateY(-3000px);
	}
	100%{
		transform: translateY(-3000px);
	}
}
/*小相机图标*/
.tubiao{
	top: 1100px;
	width: 100%;
	height: 100px;
	position: absolute;
/*	border: 2px solid red;*/
	
}
.tubiao img{
	width: 20%;
	height: 100%;
	margin-left: 40%;
}
/*三角2*/
.snajiao2{
	
	top: -100px;
	width: 100%;
	height: 100px;
	position: relative;
}
.snajiao2 img{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
/*contest*/
.orange{
	position: relative;
	top: -200px;
	width: 100%;
	height: 1300px;
	background: url(../img/railway.jpg) no-repeat;
	background-size: 100% 100%;
	
	
}
.contact{
	width: 100%;
	height: 650px;
	top: 300px;
	background: url(../img/lxwm_bg2.png) no-repeat;
	position: relative;
	left: 20%;
	
	
}
.contact ul{
	width: 100%;
	height: 500px;
	position: absolute;
	top: 150px;
	left: 130px;
	list-style: none;
}
.contact ul li{
	float: left;
	margin-right: 180px;
	color: white;
	font-family: "楷体";
}
.contact ul li p{
	line-height: 60px;
	font-size: 20px;
	margin-left: -50px;
}
.contact ul li a{
	width: 150px;
	height: 50px;
	display: inline-block;
	color: white;
	position: absolute;
	bottom: 150px;
	margin-left: -25px;
	border: 1px solid white;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	transition: all 2s;
}
.contact ul li a:hover{
	background: white;
	color: black;
}
/*黄色下三角*/
.sanjiao3{
	top: -300px;
	width: 100%;
	height: 100px;
	position: relative;
	/*border: 2px solid red;*/
}
.sanjiao3 img{
	width: 100%;
	height: 100%;
	position: absolute;
}
/*黑色下三角4*/
.snajiao4{	
	top: -300px;
	width: 100%;
	height: 100px;
	position: relative;
	/*border: 2px solid red;*/
}
.snajiao4 img{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
/*文章*/
.wenzhang{
	width: 100%;
	height: 400px;
	position: relative;
	top: -200px;
	text-align: center;
	line-height: 60px;
}
/*结束*/
/*.sanjiao5{	
	top: 200px;
	width: 100%;
	height: 100px;
	position: relative;
	
}
.sanjiao5 img{
	width: 100%;
	height: 100%;
	left: 0px;
	position: absolute;
	z-index: 2;

}
.end{
	position: relative;
	top: 100px;
	width: 100%;
	height: 300px;
	background: orange;
}
.sanjiao6{	

	width: 100%;
	height: 100px;
	position: relative;

	z-index: 2;
	
}
.sanjiao6 img{
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;

}*/
/*资讯*/
.news{
	width: 100%;
	height: 1000px;
	background: lavender;
	position: relative;
	top: 200px;
	font-family: "楷体";
}
.news h1{
	text-align: center;
}
.news h3{
	text-align: center;
}
.newsleft{
	width: 561px;
	height: 500px;
	position: absolute;
	top: 200px;
	left: 170px;
}
.newsleft img{
	width: 500px;
	height: 300px;
}
.newsleft p{
	line-height: 20px;
	color: gray;
}
.newsright{
	width: 561px;
	height: 500px;
	position: absolute;
	top: 200px;
	left: 830px;
}
.newsright img{
	width: 500px;
	height: 300px;
}
.newsright p{
	color: gray;
	line-height: 20px;
}
