.navList li:nth-child(3){
	border: 3px solid black;
}
.beautyBox{
	width: 100%;
	position: relative;
	top: -200px;
}
.beautyBlack{
	width: 100%;
	height: 450px;
	background: black;
	position: absolute;
	top: px;
	left: 0px;
}
.beauty{
	width: 87%;
	height: 430px;
	background: #eaca59;
	position: absolute;
	top: 100px;
	left: 165px;
}
.beauty-left{
	width: 320px;
	height: 300px;
	float: left;
	position: absolute;
	top: 60px;
	left: 160px;
	border-radius: 250px;
	overflow: hidden;
}
.beautyList{
	width: 100%;
	height: 100%;
	list-style: none;
}
.beautyList li{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.beautyList li:nth-child(1){
	animation: beautymove1 10s linear infinite;	
}
@keyframes beautymove1{
	0%{opacity: 0;}
	5%{opacity: 1;}
	10%{opacity: 1;}
	15%{opacity: 0;}
}
.beautyList li:nth-child(2){
	animation: beautymove2 10s linear infinite;	
}
@keyframes beautymove2{
	10%{opacity: 0;}
	15%{opacity: 1;}
	20%{opacity: 1;}
	25%{opacity: 0;}
}
.beautyList li:nth-child(3){
	animation: beautymove3 10s linear infinite;	
}
@keyframes beautymove3{
	20%{opacity: 0;}
	25%{opacity: 1;}
	30%{opacity: 1;}
	35%{opacity: 0;}
}
.beautyList li:nth-child(4){
	animation: beautymove4 10s linear infinite;	
}
@keyframes beautymove4{
	30%{opacity: 0;}
	35%{opacity: 1;}
	40%{opacity: 1;}
	45%{opacity: 0;}
}
.beautyList li:nth-child(5){
	animation: beautymove5 10s linear infinite;	
}
@keyframes beautymove5{
	40%{opacity: 0;}
	45%{opacity: 1;}
	50%{opacity: 1;}
	55%{opacity: 0;}
}
.beautyList li:nth-child(6){
	animation: beautymove6 10s linear infinite;	
}
@keyframes beautymove6{
	50%{opacity: 0;}
	55%{opacity: 1;}
	60%{opacity: 1;}
	65%{opacity: 0;}
}
.beautyList li:nth-child(7){
	animation: beautymove7 10s linear infinite;	
}
@keyframes beautymove7{
	60%{opacity: 0;}
	65%{opacity: 1;}
	70%{opacity: 1;}
	75%{opacity: 0;}
}
.beautyList li:nth-child(8){
	animation: beautymove8 10s linear infinite;	
}
@keyframes beautymove8{
	70%{opacity: 0;}
	75%{opacity: 1;}
	80%{opacity: 1;}
	85%{opacity: 0;}
}
.beautyList li:nth-child(9){
	animation: beautymove9 10s linear infinite;	
}
@keyframes beautymove9{
	80%{opacity: 0;}
	85%{opacity: 1;}
	90%{opacity: 1;}
	95%{opacity: 0;}
}
.beautyList li:nth-child(10){
	animation: beautymove10 10s linear infinite;	
}
@keyframes beautymove10{
	90%{opacity: 0;}
	95%{opacity: 1;}
	100%{opacity: 1;}
	5%{opacity: 0;}
}
.beauty-right{
	width: 800px;
	height: 334px;
	position: absolute;
	top: 100px;
	right: -60px;
	color: #1D1D1D;
}
.container{
	width: 100%;
	height: 800px;
	position: relative;
	border:1px solid #FFA500;
	top: -180px;
	perspective: 1000;
	-webkit-perspective: 1000;
}
.container h1{
	position: absolute;
	top: 360px;
	left: 20%;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 183px;
	height: 116px;
	left: 800px;
	top: 500px;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}
#carousel figure img{
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
#carousel figure img:hover{
	-webkit-filter: grayscale(0);
	transform: scale(1.5,1.5);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
.bigbox{
	width: 100%;
	height: 800px;
	position: relative;
}
.line{
	position: absolute;
	width: 100%;
	top: 400px;
}
.l1{color: yellow;}
.l2{color: #EACA59;}
.l3{color: sandybrown;}
.Box{
	position: absolute;
	width: 15%;
	height: 200px;
	border: solid 5px red;
	top: 400px;
	left: 200px;
}
.word{
	position: absolute;
	top: 450px;
	left: 320px;
	font-family: "楷体";
	font-size: 15px ;
}
.B-bottom{
	width: 100%;
	height: 1000px;
	position: relative;
	top: 550px;
	left: 20px;
}
.b-back{
	width: 600px;
	height: 600px;
	background: gainsboro;
	position: absolute;
	top: 10px;
	left: 400px;
}
.b1{
	width: 320px;
	height: 212px;
	position: absolute;
	top: 150px;
	left: 250px;
	transform: rotate(30deg);
}
.b1 img{
	width: 100%;
	height: 100%x;
	transition: 1s;
}
.b1 img:hover{
	transform: rotate(-30deg) scale(2);
}
.b2{
	width: 320px;
	height: 381px;
	position: absolute;
	top: 120px;
	left: 900px;
}
.b2 img{
	width: 100%;
	height: 100%x;
	transition: 1s;
}
.b2 img:hover{
	transform: scale(2);
}
.b3{
	width: 320px;
	height: 320px;
	position: absolute;
	top: 350px;
	left: 630px;
	border: 1px solid orange;
	transform: rotate(0deg);
}
.b3 img{
	width: 100%;
	height: 100%x;
		transition: 1s;
}
.b3 img:hover{
	transform: scale(2);
}
.b4{
	width: 400px;
	height: 200px;
	position: absolute;
	top: 600px;
	left: 300px;
	transform: rotate(-15deg);
}
.b4 img{
	width: 100%;
	height: 100%x;
	transition: 1s;
}
.b4 img:hover{
	transform: rotate(15deg) scale(2);
}
.b5{
	width: 400px;
	height: 200px;
	position: absolute;
	top: 650px;
	left: 900px;
	transform: rotate(30deg);
}
.b5 img{
	width: 100%;
	height: 100%x;
	transition: 1s;
}
.b5 img:hover{
	transform: rotate(-30deg) scale(2);
}
.line2{
	position: absolute;
	width: 100%;
	top: 1550px;
	text-align: right;	
}
.word2{
	position: absolute;
	bottom: -830px;
	right: 320px;
	font-family: "楷体";
	font-size: 15px ;
}
.f{
	margin-top: 900px;
}
