*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 100%;
	height: 80px;
	background: rgba(0,0,0,0.1);
	line-height: 80px;
	position: fixed;
	z-index: 9;
}
header img{
	float: left;
	margin-left: 300px;
	width: 175px;
	height: 80px;
}

#nav2{
	width: 1920px;
	height:200px ;
	background-size:500px 200px ;
	position: absolute;
	float: left;
}
.navlist{
	float: left;
}
.navlist li{
	float: left;
	list-style: none;
	width: 200px;
	height: 80px;
	text-align: center;
	transition: background 3s;
	background: rgba(255,255,255,0.5);
}
.navlist li a{
	font-size: 30px;
	color: rgba(0,0,0,0.7);
	font-weight: bold;
	text-decoration: none;
	transition: color 2s;
	font-family: "仿宋";
}
.navlist li:hover{
	background: rgba(0,0,0,0.5);
}
.navlist li:hover a{
	color: white;
}
#zhangshi{
	position: relative;
	width: 100%;
	height: 2700px;
	
}
#zhangshi1{
	width: 2000px;
	height: 500px;
	background: url(../img/fenjin.jpg);
	background-size:100% 700px ;
	
}
#zhangshi2{
	width: 400px;
	height: 500px;
	background: orange;
	position: absolute;
	background: rgba(255,192,1,0.4);
	transform: skew(-25deg);
	opacity: 0;
	right: 0px;
	transition: all 3s;
}
#zhangshi1:hover #zhangshi2{
	opacity:1;
	transform:  skew(-25deg)  translateX(-400px);
}
#zhangshi3{
	width: 400px;
	height: 500px;
	background: orange;
	position: absolute;
	background: rgba(255,192,1,0.4);
	transform: skew(25deg);
	opacity: 0;
	left: 0px;
	transition: all 3s;
}
#zhangshi1:hover #zhangshi3{
	opacity:1;
	transform:  skew(25deg)  translateX(200px);
}
h1{
	
	position: absolute;
	top: 50px;
	left: 40px;
}
h2{
	
	position: absolute;
	font-size: 32px;
	top: 100px;
	left: 150px;
}
#zhangshi2 p{
	margin-top: 30px;
	color: black;
	font-size: 20px;
	font-family: "bodoni mt black";
}
#zhangshi3 p{
	margin-top: 30px;
	color: black;
	font-size: 20px;
}
#lupo1{
	width: 40%;
	height: 350px;
	border: 1px solid red;
	position: absolute;
	top: 800px;
	left: 5%;
	
}
#wen-1{
	position: absolute;
	width: 40%;
	height: 300px;
	left: 55%;
}
h1{
	position: absolute;
	color: black;
	
}
#wen-1 p{
	position: absolute;
	top: 120px;
	font-weight: bold;
}



#div-a {
	position: absolute;
	width: 100px;
	height: 30px;
	background: rgba(30,144,255,0.5);
	top: 300px;
	left: 100px;
	text-align: center;
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,0.3);
}
#div-a:hover{
	background: rgba(0,255,255,0.1);
	color: black;
}



#wen-1  a{
	
	
	text-decoration: none;
	font-size: 20px;
	width: 50px;
	height: 30px;
	
}


#tu1{
	position: absolute;
	width: 50%;
	height: 350px;
	float: left;
	
}

#tu1-List{
	list-style: none;
}
#tu1-List li{
	position: absolute;
	top: 0px;
	left:0px;
	opacity: 0;	
}
#tu1-List li img{
	width: 100%;
	height: 350px;
}
#tu1-List li:nth-child(1){
	animation: move1 7s linear infinite;
}
#tu1-List li:nth-child(2){
	animation: move2 7s linear infinite;
}
#tu1-List li:nth-child(3){
	animation: move3 7s linear infinite;
}
@keyframes move1{
	0%{opacity: 0;}
	15%{opacity: 1;}
	30%{opacity: 1;}
	45%{opacity: 0;}
		}
	@keyframes move2{
		30%{opacity: 0;}
		45%{opacity: 1;}
		60%{opacity: 1;}
		75%{opacity: 0;}
	}
	@keyframes move3{
		60%{opacity: 0;}
		75%{opacity: 1;}
		100%{opacity: 1;}
		15%{
			opacity: 0;
		}
		
	}

#lupo2{
	width: 40%;
	height: 350px;
	border: 1px solid red;
	position: absolute;
	left: 55%;
	top: 800px;
}
#wen-2{
	position: absolute;
	width:40%;
	height:300px;
	left: 55%;
	
}
#wen-2 #p-1{
	position: absolute;
	top: 50px;
	font-weight: bold;
}
#wen-2 #p-2{
	position: absolute;
	top: 120px;
	font-weight: bold;
}
#wen-2  a{
	text-decoration: none;
	font-size: 20px;
	width: 50px;
	height: 30px;
	
}
#tu2{
	position: absolute;
	width: 50%;
	height: 350px;
	float: left;
	
}
#tu2-List{
	list-style: none;
}
#tu2-List li{
	position: absolute;
	top: 0px;
	left:0px;
	opacity: 0;
}
#tu2-List li img{
	width: 100%;
	height: 350px;
}
#tu2-List li:nth-child(1){
	animation: move1 7s linear infinite;
}
#tu2-List li:nth-child(2){
	animation: move2 7s linear infinite;
}
#tu2-List li:nth-child(3){
	animation: move3 7s linear infinite;
}
@keyframes move1{
	0%{opacity: 0;}
	15%{opacity: 1;}
	30%{opacity: 1;}
	45%{opacity: 0;}
		}
	@keyframes move2{
		30%{opacity: 0;}
		45%{opacity: 1;}
		60%{opacity: 1;}
		75%{opacity: 0;}
	}
	@keyframes move3{
		60%{opacity: 0;}
		75%{opacity: 1;}
		100%{opacity: 1;}
		15%{
			opacity: 0;
		}
		
	}
#lupo3{
	width: 40%;
	height: 350px;
	border: 1px solid red;
	position: absolute;
	left: 55%;
	top: 1250px;
}
#wen-3{
	position: absolute;
	width: 50%;
	height: 350px;
	left: 50%;
	
	
}
#wen--3{
	position: absolute;
	top: 70px;
	left: 30px;
}
#wen-3 p{
	/*position: absolute;
	top: 50px;*/
	font-weight: bold;
}


#wen-3 a{
	
	
	text-decoration: none;
	font-size: 20px;
	width: 50px;
	height: 30px;
	
}
#tu3{
	position: absolute;
	width: 50%;
	height: 350px;
	float: left;
	
}

#tu3-List{
	list-style: none;
}
#tu3-List li{
	position: absolute;
	top: 0px;
	left:0px;
	opacity: 0;	
}
#tu3-List li img{
	width: 100%;
	height: 350px;
}
#tu3-List li:nth-child(1){
	animation: move1 7s linear infinite;
}
#tu3-List li:nth-child(2){
	animation: move2 7s linear infinite;
}
#tu3-List li:nth-child(3){
	animation: move3 7s linear infinite;
}
@keyframes move1{
	0%{opacity: 0;}
	15%{opacity: 1;}
	30%{opacity: 1;}
	45%{opacity: 0;}
		}
	@keyframes move2{
		30%{opacity: 0;}
		45%{opacity: 1;}
		60%{opacity: 1;}
		75%{opacity: 0;}
	}
	@keyframes move3{
		60%{opacity: 0;}
		75%{opacity: 1;}
		100%{opacity: 1;}
		15%{
			opacity: 0;
		}
		
	}
#lupo4{
	width: 40%;
	height: 350px;
	border: 1px solid red;
	position: absolute;
	left: 5%;
	top: 1250px;
}
#wen-4{
	position: absolute;
	width: 40%;
	height: 350px;
	left: 55%;
	
	
}
#wen--4{
	position: absolute;
	top: 70px;
	left: 30px;
}
#wen-4 p{
	/*position: absolute;
	top: 50px;*/
	font-weight: bold;
}

#tu4{
	position: absolute;
	width: 50%;
	height: 350px;
	float: left;
	
}
#wen-4 a{
	
	
	text-decoration: none;
	font-size: 20px;
	width: 50px;
	height: 30px;
	
}

#tu4-List{
	list-style: none;
}
#tu4-List li{
	position: absolute;
	top: 0px;
	left:0px;
	opacity: 0;	
}
#tu4-List li img{
	width: 100%;
	height: 350px;
}
#tu4-List li:nth-child(1){
	animation: move1 7s linear infinite;
}
#tu4-List li:nth-child(2){
	animation: move2 7s linear infinite;
}
#tu4-List li:nth-child(3){
	animation: move3 7s linear infinite;
}
@keyframes move1{
	0%{opacity: 0;}
	15%{opacity: 1;}
	30%{opacity: 1;}
	45%{opacity: 0;}
		}
	@keyframes move2{
		30%{opacity: 0;}
		45%{opacity: 1;}
		60%{opacity: 1;}
		75%{opacity: 0;}
	}
	@keyframes move3{
		60%{opacity: 0;}
		75%{opacity: 1;}
		100%{opacity: 1;}
		15%{
			opacity: 0;
		}
		
	}
	/*#gundongBox{
		position: absolute;
		width: 2000px;
		height: 1000px;
		top: 2000px;
	}*/
#gundong{
	position: absolute;
	width: 90%;
	height: 1000px;
	top: 1900px;
	left: 10%;
}
#gundongList{
	width: 100%;
	height: 100%;
	list-style: none;
	position: absolute;
	z-index: 2;
}
#gundongList li{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
transition: all 1s;
}
#gundongList li:hover{
	transform: scale(1.5) ;
}
#gundongList li img{
	width: 300px;
	height: 300px;
}
#tr{
	width: 100%;
	height: 50px;
	
}
#tr img{
	width: 40%;
	margin-left: 30%;
	margin-top: 100px;
}
#tr2{
	position: absolute;
	top: 1750px;
	width: 100%;
	height: 100px;

}
#tr2 img{
	
	
	width: 40%;
	margin-left: 30%;
	
}
#fo{
	position: absolute;
	top: 2400px;
	
}
